*{color:#93f0f4;}

body{background-image:url(lumina.jpg); background-repreat:repeat-y;} 

th{text-align:center;
font-family:Pristina;
font-style:italic;
font-size:20pt;
background-color:#003091;
letter-spacing:2px;}

.port{font-family:Pristina; 
font-weight:bold;
letter-specing:1px;
background-color:#003091;
font-size:16pt;
text-align:center;}

.music1{
width:350px; 
height:100px;
float:left;}

.kung{font-family:Pristina; 
font-weight:bold;
letter-specing:1 px;
background-color:#ffef96;
color:#937135;
font-size:20 pt;} 

.monster{font-family:Pristina; 
font-weight:bold;
letter-specing:1px;
background-color:#ffef96;
color:#937135;
font-size:20pt;}

.whistle{font-family:Pristina; 
font-weight:bold;
letter-specing:1px;
background-color:#ffef96;
color:#937135;
font-size:20pt;}

.first{font-family:Pristina; 
font-weight:bold;
letter-specing:1px;
background-color:#ffef96;
color:#937135;
font-size:20pt;}

.second{
width:300px; 
height:800px;
float:right;}

a:hover{color:#ffef96;}

.plate1{position:relative;
width:400px;
bottom:50px;
float:left;}

.plate2{position:relative;
width:400px;
bottom:50px; 
float:right;}

.explain{font-align:center;
font-family:MV Boli;
background-color:#ffef96;
color:#937135;
font-size:15pt;}
